
<li>@Html.ActionLink("Cadastrar categoria", "Index", "Genero")</li>
<li>@Html.ActionLink("Cadastrar guia", "Index", "Guia")</li>
<li>@Html.ActionLink("Cadastrar transportadora", "Index", "Transportadora")</li>
<li>@Html.ActionLink("Cadastrar veiculo", "Index", "Veiculo")</li>
<li>@Html.ActionLink("Cadastrar pacote", "Index", "Excurcao")</li>
<li>@Html.ActionLink("Lista de embarque", "ListaEmbarque", "Home")</li>



