@section Styles {
    <link href="@Url.Content("~/Content/Intranet.css")" rel="stylesheet" type="text/css" />
}

@model IEnumerable<TripSystem.Models.Transportadora>

@{
    ViewBag.Title = "Index";
}

<h3 class="page_title">Transportadoras</h3>

<p class="create-new">
    @Html.ActionLink("Create New", "Create")
</p>

<p style="padding:30px" />
<table class="grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td width="18%">
                @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "details" })
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "edit" })
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "delete" })
            </td>
        </tr>
    }
</table>
