@model TripSystem.Models.Veiculo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Veiculo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransportadoraId, "Transportadora")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransportadoraId", String.Empty)
            @Html.ValidationMessageFor(model => model.TransportadoraId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MarcaCarro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MarcaCarro)
            @Html.ValidationMessageFor(model => model.MarcaCarro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModeloCarro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModeloCarro)
            @Html.ValidationMessageFor(model => model.ModeloCarro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QntAssentos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QntAssentos)
            @Html.ValidationMessageFor(model => model.QntAssentos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValorDiaria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValorDiaria)
            @Html.ValidationMessageFor(model => model.ValorDiaria)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
