@model TripSystem.Models.Genero

@{
    ViewBag.Title = "Excurções";
}

<div class="genre">
    <h3><em>@Model.Nome</em> Excurções</h3>

    <ul id="album-list">
        @foreach (var excurcao in Model.Excurcao)
        {
            <li>
                <a href="@Url.Action("Details", new { id = excurcao.ID })"> 
                <img alt="@excurcao.Titulo" src="@excurcao.ExcurcaoArtUrl" /> 
                <span>@excurcao.Titulo</span> </a>
            </li>
        }
    </ul>
</div>
