@section Styles {
    <link href="@Url.Content("~/Content/Detail.css")" rel="stylesheet" type="text/css" />
}

@model TripSystem.Models.Excurcao

@{
    ViewBag.Title = "Excurcao - " + Model.Titulo;
}

<h2 class="title">@Model.Titulo</h2>

<p class="trip-container" style="background-image:url(@Model.ExcurcaoArtUrl)">
    @{
        int position = Model.ExcurcaoArtUrl.LastIndexOf('/');
        string image = Model.ExcurcaoArtUrl.Substring(position + 1);

    }
</p>

<div id="trip-panel"></div>

<div id="trip-details">
    <p>
        <em>Data de partida</em>
        @Model.DataPartida
    </p>
    <p>
        <em>Data de retorno:</em>
        @Model.DataRetorno
    </p>
    <p>
        <em>Local de partida:</em>
        @Model.LocalPartida
    </p>
    <p class="price">
        <em>Preço por pessoa:</em>
        <span>@String.Format("{0:F}", Model.Preco)</span>
    </p>
</div>

<div id="trip-add-to-shopping-cart">
    @using (Html.BeginForm("AddToCart", "ShoppingCart", new { id = Model.ID, quantidade = Model.Quantidade }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <em>Quantidade de pessoas</em>
            <div class="editor-label">
                @Html.EditorFor(model => model.Quantidade)
                @Html.ValidationMessageFor(model => model.Quantidade)
            </div>
            <p>
                <input type="submit" value="Adicionar ao carrinho" />
            </p>
        </fieldset>
    }
</div>