@section Styles {
    <link href="@Url.Content("~/Content/Detail.css")" rel="stylesheet" type="text/css" />
}

@model TripSystem.Models.Excurcao

@{
    ViewBag.Title = "Excurcao - " + Model.Titulo;
}

<h2 class="title">@Model.Titulo</h2>

<p class="excursao">
    @{
        int position = Model.ExcurcaoArtUrl.LastIndexOf('/');
        string image = Model.ExcurcaoArtUrl.Substring(position + 1);

    }

    <img alt="@Model.Titulo" src="@Model.ExcurcaoArtUrl" />
</p>

<div id="album-details">
    <p>
        <em>Genero:</em>
        @Model.Genero.Nome
    </p>
    <p>
        <em>Guia:</em>
        @Model.Guia.Nome
    </p>
    <p>
        <em>Local de partida:</em>
        @Model.LocalPartida
    </p>
    <p>
        <em>Data de partida</em>
        @Model.DataPartida
    </p>
    <p>
        <em>Data de retorno:</em>
        @Model.DataRetorno
    </p>
    <p>
        <em>Preço unitário:</em>
        @String.Format("{0:F}", Model.Preco)
    </p>

</div>

<div class="carrinho">
    @using (Html.BeginForm("AddToCart", "ShoppingCart", new { id = Model.ID, quantidade = Model.Quantidade }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <em>Quantidade de pessoas</em>
            <div class="editor-label">
                @Html.EditorFor(model => model.Quantidade)
                @Html.ValidationMessageFor(model => model.Quantidade)
            </div>
            <p>
                <input type="submit" value="Adicionar ao carrinho" />
            </p>
        </fieldset>
    }
</div>