@section Styles {
    <link href="@Url.Content("~/Content/Intranet.css")" rel="stylesheet" type="text/css" />
}

@model IEnumerable<TripSystem.Models.Genero>

@{
    ViewBag.Title = "Index";
}

<h3 class="page_title">Categorias</h3>

<p class="create-new">
    @Html.ActionLink("Create New", "Create")
</p>

<p style="padding:30px" />
<table class="grid">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Descrição)</th>
        <th width="15%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrição)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new { @class = "edit" })
            @Html.ActionLink(" ", "Delete", new { id=item.ID }, new { @class = "delete" })
        </td>
    </tr>
}

</table>
