@model TripSystem.Models.Excurcao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Excurcao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneroId, "Genero")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GeneroId", String.Empty)
            @Html.ValidationMessageFor(model => model.GeneroId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GuiaId, "Guia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GuiaId", String.Empty)
            @Html.ValidationMessageFor(model => model.GuiaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VeicuiloId, "Veiculo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VeicuiloId", String.Empty)
            @Html.ValidationMessageFor(model => model.VeicuiloId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocalPartida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocalPartida)
            @Html.ValidationMessageFor(model => model.LocalPartida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataPartida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataPartida)
            @Html.ValidationMessageFor(model => model.DataPartida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataRetorno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataRetorno)
            @Html.ValidationMessageFor(model => model.DataRetorno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroPessoas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroPessoas)
            @Html.ValidationMessageFor(model => model.NumeroPessoas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco)
            @Html.ValidationMessageFor(model => model.Preco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExcurcaoArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExcurcaoArtUrl)
            @Html.ValidationMessageFor(model => model.ExcurcaoArtUrl)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
