@model List<TripSystem.ViewModels.ListaDeEmbarque>

@{
    ViewBag.Title = "ListaEmbarque";
}

<h2>Lista de Embarque</h2>

<table>
    <tr><th>
            Excursão
        </th>
        <th>
            Local de partida 
        </th>
        <th>
            Data de partida
        </th>
        <th>
            Data de retorno
        </th>
        <th>
            Nome do passageiro
        </th>
        <th>
            Sobrenome
        </th>
        <th>
            Telefone
        </th>
        <th>
            Idade
        </th>
        <th>
            Grupo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalPartida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPartida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRetorno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SobreNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdemId)
        </td>
    </tr>
}

</table>

<div style="padding:10px; border:1px solid black">
    <div><a href="@Url.Action("Report",new {id= "PDF"})"> Gerar relatório em PDF</a></div>
    <div><a href="@Url.Action("Report",new {id= "Excel"})"> Gerar relatório em Excel</a></div>
    <div><a href="@Url.Action("Report",new {id= "Word"})"> Gerar relatório em Word</a></div>
    <div><a href="@Url.Action("Report",new {id= "Image"})"> Gerar relatório em Image</a></div>
</div>