@section Styles {
    <link href="@Url.Content("~/Content/Intranet.css")" rel="stylesheet" type="text/css" />
}

@model List<TripSystem.ViewModels.ListaDeEmbarque>

@{
    ViewBag.Title = "ListaEmbarque";
}

<h3 class="page_title">Lista de Embarque</h3>

<p style="padding:30px" />
<table class="grid">
    <tr>
        <th>Excursão</th>
        <th>Local de partida</th>
        <th>Parte</th>
        <th>Retorna</th>
        <th>Passageiro</th>
        <th>Telefone</th>
        <th>Idade</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRetorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome) 
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
         </tr>
    }
</table>

<div class="generate-report">
    <a href="@Url.Action("Report",new {id= "PDF"})">
        <img src="~/Content/images/pdf.svg" />
        <span>relatório em PDF</span>
    </a>
    <a href="@Url.Action("Report",new {id= "Excel"})">
        <img src="~/Content/images/excel.svg" />
        <span>Gerar relatório em Excel</span>
    </a>
    <a href="@Url.Action("Report",new {id= "Word"})">
        <img src="~/Content/images/word.svg" />
        <span>Gerar relatório em Word</span>
    </a>
    <a href="@Url.Action("Report",new {id= "Image"})">
        <img src="~/Content/images/image.svg" />
        <span>Gerar relatório em Image</span>
    </a>
</div>